snippet e
	{${1}}${2}
snippet noe
	{${1}|noescape}${2}
snippet if
	{if ${1}}
		${2:<!-- code -->}
	{/if}
snippet ife
	{if ${1}}
		${2:<!-- code -->}
	{else}
		${3:<!-- code -->}
	{/if}
snippet else
	{else}${1:<!-- code -->}
snippet elseif
	{elseif}
		${1:<!-- code -->}
snippet ifs
	{ifset ${1}}${2:<!-- code -->}{/ifset}
snippet fore
	{foreach $${1:array} as $${2:item}}
		${3:<!-- code -->}
	{/foreach}
snippet for
	{for ${1}; ${2}; ${3}}
		${4:<!-- code -->}
	{/for}
snippet fori
	{for ${1:$i = 0}; ${2}; ${3:$i++}}
		${4:<!-- code -->}
	{/for}
snippet wh
	{while ${1}}
		${2:<!-- code -->}
	{/while}
snippet con
	{continueIf ${1}}${2}
snippet bre
	{breakIf ${1}}${2}
snippet first
	{first ${1}}
		${2:<!-- code -->}
	{/first}
snippet last
	{last ${1}}
		${2:<!-- code -->}
	{/last}
snippet sep
	{sep}${1}{/sep}${2}
snippet var
	{var $${1:var} = ${2}}${3}
snippet defa
	{default $${2:var} = ${2}}${3}
snippet capt
	{capture $${1:var}}${2:<!-- code -->}{/capture}${3}
snippet inc
	{include ${1}}${2}
snippet cach
	{cache ${1}}
		${2:<!-- code -->}
	{/cache}
snippet php
	{php ${1}}${2}
snippet blo
	{block ${1:block}}${2}
snippet def
	{define ${1:block}}${2}
snippet incb
	{includeblock ${1:block}}${2}
snippet lay
	{layout '${1:file}.latte'}${2}
snippet ext
	{extends '${1:file}.latte'}${2}
snippet li
	{link ${1}}${2}
snippet pli
	{plink ${1}}${2}
snippet ifc
	{ifCurrent ${1}}${2:<!-- code -->}{/ifCurrent}${3}
snippet cont
	{control ${1}}${2}
snippet form
	{form ${1:form}}
		${2:<!-- code -->}
	{/form}
snippet flab
	{label ${1:input} /}${2}
snippet finp
	{input ${1:input}}${2}
snippet finpe
	{inputError ${1:input}}${2}
snippet snip
	{snippet ${1:name}}
		${2:<!-- code -->}
	{/snippet}
snippet n
	n:${1}="${2}"${3}
snippet nh
	n:href="${1}"${2}
snippet nif
	n:if="${1}"${2}
snippet nifc
	n:if-content
snippet nti
	n:tag-if="${1}"${2}
snippet nfore
	n:foreach="$${1:array} as $${2:item}"${3}
snippet nifore
	n:inner-foreach="$${1:array} as $${2:item}"${3}
snippet nfor
	n:for="${1}; ${2}; ${3}"${4}
snippet nfori
	n:for="${1:$i = 0}; ${2}; ${3:$i++}"${4}
snippet ncl
	n:class="${1}"${2}
snippet nat
	n:attr="${1}"${2}
snippet nblo
	n:block="${1}"${2}
snippet nsnip
	n:snippet="${1:name}"${2}
